*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.flex{
    display:flex;
}

h1,#play{
    align-self: center;
}
#play{
width: 100%;
}
#width{
    width: 16%;
}
body,#difficoltà,#play,#submit{
    
  font-family: 'Press Start 2P', cursive;
    
}
#difficoltà,#play{
  background-color: blue;
  color: yellow;
  border-radius: 15px;
  text-align: center;
}
#submit {
  background-color: blue;
  color: yellow;
  height: 27px;
  align-self: center;
  border-radius: 18px;
}

h1{
    text-align: center;
}
main {
  overflow: scroll;
  height: 450px;
    background-color: rgb(0, 10, 10);
    
    padding: 40px 0px;
 
}
#layover{
  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#title-flex{
  display: flex;
  align-items: center;
}
#score{
  font-size: 20px;
  margin-left: 265px;
  margin-top: 10px;
}

#container-grid{
  
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  
  }

  .box {
    width: 10%;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    background-color: #fff;
}

  

  #difficoltà{
    height: 20px;
    align-self: center;
  }
  .box.clicked{
    background-color: chartreuse;

  }
  footer{
    background-color: red;
    padding: 20px;
    
  }
  .bomb{
    background-color: red;
  }
  #title,#pre-title{
    text-align: center;
    margin-top: 125px;
  }
  